<%= simple_form_for([current_user, ascent]) do |form| %>
  <%= form.error_notification %>

  <%= form.input(
    :route,
    label: _('Route'),
    as: :autocomplete,
    autocomplete_url: autocomplete_routes_path,
  ) %>

  <%= form.input(
    :style,
    label: _('Style'),
    as: :style,
    autocomplete_url: autocomplete_styles_path,
  ) %>
  <%= form.input(
    :attempts,
    label: _('Attempts'),
    as: :integer
  ) %>
  <%= form.input(
    :comment,
    label: _('Comment'),
    placeholder: _('optional comment...'),
  ) %>
  <%= form.input(
    :when,
    label: _('When'),
    as: :datepicker
  ) %>
  <%= form.button :submit %>
<% end %>
