<%= search_form_for [@base_object&.as_base_class, @q] do |f| %>
  <div class="form-group">
    <%= f.label _('Type') %>
    <%= f.select(
      :kind_eq,
      Comment.kinds.map { |k| [_(k), k] },
      {
        include_blank: true,
      },
      {
        class: 'form-control'
      }
    ) %>
  </div>

  <div class="form-group">
    <%= f.label _('Text') %>
    <div class="input-group">
      <%= f.search_field :body_cont, class: 'form-control', placeholder: _('Search comments...') %>
      <div class="input-group-append">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
