<%- if @base_object.is_a?(Route) -%>
  <%= render partial: 'routes/head', locals: { route: @base_object } %>
  <%= render partial: 'routes/secondary_tab_nav', locals: { route: @base_object } %>
<%- elsif @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- else -%>
  <%- content_for :icon, Comment.icon -%>
  <%- content_for :title, _('All Comments') -%>
<%- end -%>

<%= render partial: 'comments/global_search_form' %>

<ul class="content-list">
  <% @comments.each do |comment| %>
    <%= render partial: 'comments/content-list/default', :locals => { :item => comment } %>
  <% end %>
</ul>

<%= paginate @comments %>
