<% content_for :title, _('Search') %>
<% content_for :icon, 'search' %>

<%= form_with(url: search_index_path, method: :get, local: true) do %>
  <div class="input-group">
    <%= text_field_tag(:q, @q, class: 'form-control') %>
    <div class="input-group-append">
      <%= submit_tag('Search', class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>

<% if @geo_refs&.any? -%>
  <h3><%= _('Locations') %></h3>

  <ul class="content-list">
    <% @geo_refs.each do |geo_ref| -%>
      <%= render partial: 'geo_refs/content-list/default', :locals => { :item => geo_ref } %>
    <% end -%>
  </ul>
<% end -%>

<% if @routes&.any? -%>
  <h3><%= _('Routes') %></h3>

  <ul class="content-list">
    <% @routes.each do |route| %>
      <%= render partial: 'routes/content-list/default', :locals => { :item => route } %>
    <% end %>
  </ul>
<% end -%>

<% if @first_ascent_people&.any? -%>
  <h3><%= _('First Ascensionists') %></h3>

  <ul class="content-list">
    <% @first_ascent_people.each do |first_ascent_person| %>
      <%= render(
        partial: 'first_ascent_people/content-list/default',
        locals: {
          item: first_ascent_person,
          count: @fa_counts[first_ascent_person.id]
        }
      ) %>
    <% end %>
  </ul>
<% end -%>

