
<%= simple_form_for [ topo.target, topo ] do |form| %>
  <%= form.error_notification %>

  <%= form.input :title, placeholder: 'enter title...' %>
  <%= form.input :description, placeholder: 'short description...' %>

  <%= form.input :background, as: :file %>
  <%= form.input :background_cache, as: :hidden %>
  <%= image_tag(topo.background.small.url, class: 'img-thumbnail') if topo.background? %>

  <%= form.input :overlay, as: :file %>
  <%= form.input :overlay_cache, as: :hidden %>
  <%= image_tag(topo.overlay.url, class: 'img-thumbnail') if topo.overlay? %>

  <%= form.button :submit %>
<% end %>

