<%- content_for :title, 'Dashboard' -%>
<%- content_for :icon, 'dashboard' -%>

<div class="row">
  <%= render partial: 'card_counter', locals: {
    title: _('Locations'),
    count: @geo_ref_count,
    icon: GeoRef,
    color: 'primary'
  } %>
  <%= render partial: 'card_counter', locals: {
    title: _('Routes'),
    count: @route_count,
    icon: Route,
    color: 'success'
  } %>
  <%= render partial: 'card_counter', locals: {
    title: _('Paths'),
    count: @path_count,
    icon: Path,
    color: 'warning'
  } %>
  <%= render partial: 'card_counter', locals: {
    title: _('Comments'),
    count: @first_ascent_person_count,
    icon: Comment,
    color: 'danger'
  } %>
  <%= render partial: 'card_counter', locals: {
    title: _('Ascents'),
    count: @ascent_count,
    icon: Ascent,
    color: 'primary'
  } if Routenbuch.features.ascents? %>
  <%= render partial: 'card_counter', locals: {
    title: _('Ticklists'),
    count: @ticklist_count,
    icon: Ticklist,
    color: 'success'
  } if Routenbuch.features.ticklists? %>
</div>
<div class="row">
  <div class="col">
    <div class="card shadow border-primary">
      <div class="card-header text-uppercase font-weight-bold bg-primary text-white">
        <%= icon_for User %>
        Latest users
      </div>
      <table class="card-table table table-striped">
        <thead>
          <th><%= _('Name') %></th>
          <th><%= _('E-Mail') %></th>
          <th class="text-right"><%= _('Created at') %></th>
        </thead>
        <tbody>
          <%- @latest_users.each do |user| -%>
            <tr>
              <td><%= user.name || "- #{_('blank')} -" %></td>
              <td><%= user.email %></td>
              <td class="text-right text-muted">
                <%= _('joined %{time_ago_in_words} ago') % { time_ago_in_words: time_ago_in_words(user.created_at) } %>
              </td>
            </tr>
          <%- end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>
