<%- content_for :title, _('Monitoring') -%>
<%- content_for :icon, 'thermometer' -%>

<p><%= _('For monitoring of this routenbuch instance you can use the following endpoints:') %></p>

<pre><code>/health_check
/health_check.json

/health_check/all
/health_check/all.json
</code></pre>

<p><%= _('The following IPs are whitelisted to access this endpoint:') %></p>

<pre><code><%= HealthCheck.origin_ip_whitelist.join(', ') %>
</code></pre>

<p><%= _('Additional IPs can be configured by setting monitoring_ip_whitelist in routenbuch.yml.') %></p>

<h3><%= _('Current status') %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= _('Check') %></th>
      <th><%= _('Status') %></th>
    </tr>
  </thead>
  <tbody>
    <%- @result.each do |check,error| -%>
      <tr>
        <td><%= check %></td>
        <%- if error.blank? -%>
          <td class="table-success">OK</td>
        <%- else -%>
          <td class="table-danger"><%= error %></td>
        <%- end -%>
      </tr>
    <%- end -%>
  </tbody>
</table>
