<li>
  <div class="thumb">
    <%= render partial: 'users/avatar', :locals => { user: item } %>
  </div>
  <div class="controls">
    <%= _('joined %{time_ago_in_words} ago') % { time_ago_in_words: time_ago_in_words(item.created_at) } %>
  </div>
  <div class="title">
    <%= link_to item.display_name, item %>
    <small>
      <%= item.role %>
    </small>
    <%= render partial: 'users/routes_grade_category_count', locals: { user: item } %>
  </div>
  <div class="content">
    <%- if Routenbuch.features.ascents? -%>
      has <%= item.stats.to_h['routes_count'].to_i %> redpoints
    <%- end -%>
  </div>
</li>
