<% count ||= nil -%>
<li>
  <div class="controls">
  </div>
  <div class="title">
    <%= link_to item.name, item %>
    <% unless count.nil? -%>
      <span class="badge badge-secondary"><%= count %></span>
    <% end -%>
  </div>
</li>
