<%= simple_form_for([@base_object&.as_base_class, regulation]) do |form| %>
  <%= form.error_notification %>

  <%= form.input(
    :name,
    label: _('Name'),
  ) %>

  <%= form.input(
    :abbr,
    label: _('Abbreviation'),
  ) %>

  <%= form.input(
    :body,
    label: _('Description'),
    as: :text,
    input_html: {
      rows: 10
    }
  ) %>

  <%= form.button :submit %>
<% end -%>
