<%= simple_form_for([@geo_ref.as_base_class, permission]) do |form| %>
  <%= form.error_notification %>

  <%= form.association(
    :geo_ref,
    label: _('Location'),
    disabled: true,
    include_blank: false,
    collection: [@geo_ref]
  ) %>
  <%= form.association(
    :user,
    label: _('Contributor'),
    disabled: true,
    include_blank: false,
    collection: [permission.user]
  ) %>
  <%= form.input(
    :level,
    label: _('Permission level'),
    collection: Permission.valid_levels,
    include_blank: false,
    hint: _('Level of permissions to assign.')
  ) %>

  <%= form.button :submit %>
<% end %>
