<template>
  <div class="datepicker-input">
    <b-button-group class="mb-2" size="sm">
      <b-button variant="outline-primary" @click="set_day(0)">Today</b-button>
      <b-button variant="outline-secondary" @click="set_day(1)">Yesterday</b-button>
      <b-button variant="outline-secondary" @click="set_day(2)">2...</b-button>
      <b-button variant="outline-secondary" @click="set_day(3)">3...</b-button>
      <b-button variant="outline-secondary" @click="set_day(4)">4 days ago</b-button>
    </b-button-group>
    <b-form-datepicker v-model="currentValue" class="mb-2"></b-form-datepicker>
    <input :name="name" type="hidden" :value="currentValue"></input>
  </div>
</template>

<script>
module.exports = {
  props: {
    name: {
      type: String,
      required: true
    },
    initialValue: {
      type: String,
      default: ''
    }
  },
  data: function () {
    return {
      currentValue: this.initialValue,
    }
  },
  methods: {
    set_day: function(ago) {
     this.currentValue = this.moment().subtract(ago, 'days').format('YYYY-MM-DD');
    }
  }
}
</script>
