<template>
  <div class="autocomplete-input">
    <div v-if="hasValue">
      <b-input-group>
        <b-form-input disabled :value="currentValue"></b-form-input>
        <b-input-group-append>
          <b-button v-on:click="clearValue"><i class="fa fa-remove"></i></b-button>
        </b-input-group-append>
      </b-input-group>
    </div>
    <div v-else>
      <b-input-group>
        <b-input-group-prepend is-text>
          <i class="fa fa-search"></i>
        </b-input-group-prepend>
          <b-form-select
            id="belay-style-select"
            @input="triggerSearch"
            v-model="belayStyleFilter"
            :options="belayStyles"
            required>
            <template v-slot:first>
              <option :value="''">Choose belay style...</option>
            </template>
          </b-form-select>
          <b-form-select
            id="sportive-style-select"
            @input="triggerSearch"
            v-model="sportiveStyleFilter"
            :options="sportiveStyles"
            required>
            <template v-slot:first>
              <option :value="''">Choose sportive style...</option>
            </template>
            </b-form-select>
        <input
          class="form-control"
          @input="triggerSearch"
          v-model="nameFilter"
          autocomplete="off"
          placeholder="Type to search..."></input>
        <b-input-group-append>
          <b-button @click="revertValue"><i class="fa fa-undo"></i></b-button>
        </b-input-group-append>
      </b-input-group>
      <b-list-group class="style-result-list">
        <b-list-group-item v-if="showNoResultDummy" disabled>
          no results for '{{searchResultQuery}}'
        </b-list-group-item>
        <b-list-group-item
          v-for="searchResultItem in searchResult"
          @click="selectValue(searchResultItem)"
          button>
            {{searchResultItem.name}}
            <div class="pull-right">
              {{searchResultItem.belay_style}} / {{searchResultItem.sportive_style}}
              <i v-if="searchResultItem.redpoint" class="fa fa-circle redpoint" aria-hidden="true"></i>
            </div>
        </b-list-group-item>
      </b-list-group>
    </div>
    <input :name="name" type="hidden" :value="currentId"></input>
  </div>
</template>

<script>
module.exports = {
  props: {
    name: {
      type: String,
      required: true
    },
    url: {
      type: String,
      required: true,
    },
    initialValue: {
      type: String,
      default: ''
    },
    initialId: {
      type: Number,
      default: null,
    },
    belayStyles: {
      type: Array,
      default: [
        'lead',
        'second',
        'toprope',
        'boulder',
        'alternate_lead',
        'solo',
        'freesolo',
        'deepwatersolo',
      ]
    },
    sportiveStyles: {
      type: Array,
      default: [
        'free',
        'flash',
        'onsight',
        'tainted',
        'unfished',
        'aid'
      ]
    }
  },
  data: function () {
    return {
      nameFilter: '',
      belayStyleFilter: '',
      sportiveStyleFilter: '',
      currentValue: this.initialValue,
      currentId: this.initialId,
      searchResult: [],
      searchCount: 0,
      lastSearchCount: 0,
      searchPending: false,
    }
  },
  mounted: function() {
    this.triggerSearch();
  },
  computed: {
    hasValue: function() {
      return this.currentValue != ''
    },
    showNoResultDummy: function() {
      return this.searchResultQuery && this.searchResult.length == 0
    },
    formValue: function() {
      if(this.mode == 'id') {
        return this.currentId;
      }
      return this.currentValue;
    }
  },
  methods: {
    revertValue: function() {
      this.currentValue = this.initialValue;
      this.currentId = this.initialId;
    },
    resetSearch: function () {
      this.searchResult = [];
    },
    clearValue: function() {
      this.currentValue = '';
      this.currentId=null;
    },
    selectValue: function(value) {
      this.currentValue = value.name;
      this.currentId = value.id;
    },
    triggerSearch: function() {
      this.searchCount = this.searchCount + 1;
      this.updateSearchResult();
    },
    updateSearchResult: function() {
      if(this.searchPending) { return }
      if(this.lastSearchCount == this.searchCount) { return }

      var mycount = this.searchCount;
      this.searchPending = true;

      params = {};
      params['name'] = this.nameFilter;
      params['belay_style'] = this.belayStyleFilter;
      params['sportive_style'] = this.sportiveStyleFilter;
      this.$http.get(this.url, { params: params })
        .then(response => {
          this.searchResult = response.data;
          this.updateSearchResult();
        })
        .finally(() => {
          this.lastSearchCount = mycount;
          this.searchPending = false;
        });
    }
  }
}
</script>

<style>
  .style-result-list {
    max-height: 250px;
    overflow-y: auto;
  }
</style>
