<template>
  <div class="tags-input">
    <b-form-tags v-model="value"></b-form-tags>
    <input :name="name" type="hidden" value=""></input>
    <input v-for="item in value" :name="name" type="hidden" :value="item"></input>
  </div>
</template>

<script>
module.exports = {
  props: {
    name: {
      type: String,
      required: true
    },
    initialValue: {
      type: Array,
      default: []
    }
  },
  data: function () {
    return {
      value: this.initialValue,
    }
  }
}
</script>
