<%= simple_form_for(@geo_ref.becomes(GeoRef)) do |form| %>
  <%= form.error_notification %>

  <h3 class="page-header"><%= _('General Information') %></h3>
  <%= form.input(
    :name,
    label: _('Name')
  ) %>
  <%= form.input(
    :alternative_names,
    label: _('Alternative names'),
    as: :tags,
  ) %>
  <%= form.input(:type, as: :hidden) %>
  <%= form.input(
    :access,
    label: _('Access'),
    as: :access_level
  ) %>
  <%= form.input(:parent_id, as: :hidden) %>
  <%= form.input(
    :description,
    label: _('Summary'),
    placeholder: _('Short description of the location...')
  ) %>
  <%= form.input(
    :body,
    label: _('Description'),
    placeholder: _('Long description, facts, history...')
  ) %>

  <h3 class="page-header"><%= _('Additional Information') %></h3>
  <%- if @geo_ref.supports_zone? %>
    <%= form.association :zone, label: _('Climbing zone'), include_blank: true %>
  <%- end -%>
  <%- if @geo_ref.supports_height? %>
    <%= form.input(
      :height,
      label: _('Height'),
      placeholder: _('in meters')
    ) %>
  <%- end -%>
  <%- if @geo_ref.supports_orientation? %>
    <%= form.input(
      :orientation,
      label: _('Orientation'),
      placeholder: _('in degree (360 north, 90 east, 180 south, 270 west)')
    ) %>
  <%- end -%>
  <%= form.input(
    :lat,
    label: _('Coordinates'),
    as: :geolocation
  ) %>

  <%= render partial: 'taggables/form', locals: { form: form, target: @geo_ref } %>

  <%= form.button :submit %>
<% end %>
