<%- content_for :tab_nav do -%>
  <%= render_navigation do |primary|
    primary.item :search, _('Search'), geo_refs_path
    primary.item :browse, _('Browse'), browse_geo_refs_path, highlights_on: %r(/geo_refs/(?:\d+|browse)$)
    primary.dom_class = 'nav nav-tabs mb-3'
  end %>
<%- end -%>
