<%= render_navigation do |primary|
  primary.item(
    :info,
    {
      icon: 'info',
      text: _('Info'),
    },
    geo_ref_path(geo_ref)
  )
  primary.item(
    :paths,
    {
      icon: 'map',
      text: "#{_('Paths')} <span class=\"badge badge-secondary\">#{geo_ref.paths.accessible_by(current_ability, :read).count}</span>".html_safe,
    },
    geo_ref_paths_path(geo_ref)
  ) if geo_ref.supports_paths?
  primary.item(
    :approaches,
    {
      icon: 'map',
      text: "#{_('Approaches')} <span class=\"badge badge-secondary\">#{geo_ref.approaches.accessible_by(current_ability, :read).count}</span>".html_safe,
    },
    geo_ref_approaches_path(geo_ref)
  ) if geo_ref.supports_approaches?
  primary.item(
    :ascents,
    {
      icon: 'address-book-o',
      text: "#{_('Ascents')} <span class=\"badge badge-secondary\">#{geo_ref.ascents.accessible_by(current_ability, :read).count}</span>".html_safe,
    },
    geo_ref_ascents_path(geo_ref)
  ) if geo_ref.supports_ascents?
  primary.item(
    :ticklists,
    {
      text: "#{_('Ticklist')} <span class=\"badge badge-secondary\">#{geo_ref.ticklists.accessible_by(current_ability, :read).count}</span>".html_safe,
      icon: 'check-square-o',
    },
    geo_ref_ticklists_path(geo_ref)
  ) if geo_ref.supports_ticklists?
  primary.item(
    :comments,
    {
      text: "#{_('Comments')} <span class=\"badge badge-secondary\">#{geo_ref.comments.accessible_by(current_ability, :read).count}</span>".html_safe,
      icon: 'comments',
    },
    geo_ref_comments_path(geo_ref)
  )
  primary.item(
    :photos,
    {
      text: "#{_('Photos')} <span class=\"badge badge-secondary\">#{geo_ref.photos.accessible_by(current_ability, :read).count}</span>".html_safe,
      icon: 'photo',
    },
    geo_ref_photos_path(geo_ref)
  )
  primary.item(
    :regulations,
    {
      icon: Regulation.icon,
      text: "#{_('Climbing regulations')} <span class=\"badge badge-secondary\">#{geo_ref.regulations.accessible_by(current_ability, :read).count}</span>".html_safe,
    },
    geo_ref_regulations_path(geo_ref)
  ) if geo_ref.supports_regulations?
  primary.item(
    :permissions,
    {
      text: _('Permissions'),
      icon: Permission.icon,
    },
    geo_ref_permissions_path(geo_ref)
  ) if can?(:read, Permission.new(geo_ref: geo_ref))
  primary.dom_class = 'nav nav-tabs mb-3'
end %>
