<%= render partial: 'geo_refs/head', :locals => { :geo_ref => @geo_ref } %>
<%= render partial: 'geo_refs/secondary_tab_nav', :locals => { :geo_ref => @geo_ref } %>

<h3><%= _('Editing child locations order') %></h3>

<p><%= _('Drag routes below to sort them') %>:</p>

<sortable-list
  :initial-list="<%= @childs.to_json only: %i[id name] %>"
  reorder-url="<%= reorder_childs_geo_ref_path(@geo_ref) %>"
  ></sortable-list>

