<li>
  <% unless @base_object == current_user %>
    <div class="thumb">
      <%= render partial: 'users/avatar', :locals => { user: item.user } %>
    </div>
  <%- end -%>
  <div class="controls">
    <%- if can? :edit, item -%>
      <%= link_to '<span class="fa fa-pencil"></span>'.html_safe, edit_user_ascent_path(item.user, item), class: 'btn btn-success btn-sm' %>
    <%- end -%>
  </div>
  <div class="title">
    <% if @base_object == current_user -%>
      <% unless defined? hide_geo_ref -%>
        <%= link_to item.route.geo_ref.name, geo_ref_path(item.route.geo_ref) %> /
      <% end -%>
      <%= link_to item.route.name, item.route %>
    <%- else -%>
      <%- if can? :read, item.user -%>
        <%= link_to item.user.display_name, item.user %>
      <%- else -%>
        <%= _('Anonymous user') %>
      <%- end -%>
      <%= _('climbed %{link}').html_safe % { link: link_to(item.route.name, route_path(item.route.id)) } %>
    <%- end -%>
    <%= render partial: 'grades/grade_badge', locals: { grade: item.route.grade } if item.route.grade.present? %>
  </div>
  <div class="description">
    <% if @base_object == current_user %>
      <%= item.when %> / <%= _(item.style.try(:name)) || '-' %> / <%= item.try(:attempts) || '-' %><br>
      <%= item.comment %>
    <%- else -%>
      <%= _('at %{geo_ref_link} on %{when}.').html_safe % {
        geo_ref_link: link_to(item.route.geo_ref.name, geo_ref_path(item.route.geo_ref)),
        when: item.when,
      } %>
      <%=
        n_(
          '%{style} on first attempt.',
          '%{style} on %{attempts}. attempt.',
          item.attempts
        ).html_safe % {
          style: _(item.style.name),
          attempts: item.attempts
        }
      %>
    <%- end -%>
  </div>
</li>
