<p id="notice"><%= notice %></p>

<h1><%= _('Zones') %></h1>

<table>
  <thead>
    <tr>
      <th><%= _('Name') %></th>
      <th><%= _('Description') %></th>
      <th><%= _('Organization') %></th>
    </tr>
  </thead>

  <tbody>
    <% @zones.each do |regulation| %>
      <tr>
        <td><%= zone.name %></td>
        <td><%= zone.body %></td>
        <td><%= zone.organization %></td>
      </tr>
    <% end %>
  </tbody>
</table>
