<%= simple_form_for([@regulation, @regulated_geo_ref]) do |f| %>
  <%= f.error_notification %>

  <%= f.input(
    :geo_ref,
    label: _('Location'),
    as: :autocomplete,
    autocomplete_url: autocomplete_geo_refs_path,
  ) %>
  <%= f.input(
    :reason,
    label: _('Reason')
  ) %>

  <%= f.button :submit %>
<%- end -%>
