<%-
  form_target = if @base_object.nil?
                  @photo
                else
                  [@base_object.as_base_class, @photo]
                end
-%>
<%= simple_form_for(form_target) do |form| %>
  <%= form.error_notification %>

  <%= form.input :photo, as: :file %>
  <%- if @photo.photo.attached? -%>
    <%= begin
      image_tag(@photo.photo.variant(resize_to_limit: [640, 480]), class: 'img-thumbnail')
    rescue ActiveStorage::InvariableError
      _('No image preview available.')
    end -%>
  <%- end -%>


  <%= form.input :description, placeholder: _('short description...') %>

  <%- private_photo = @photo.dup ; private_photo.private = true -%>
  <%- if can? :create, private_photo -%>
    <%= form.input(
      :private,
      label: _('Private'),
      hint: _('Will be only visible to administrators and assigned contributor groups.')
    ) %>
  <%- end -%>

  <%- pinned_photo = @photo.dup ; pinned_photo.pinned = true -%>
  <%- if can? :create, pinned_photo -%>
    <%= form.input(
      :pinned,
      label: _('Pin comment on top'),
      hint: _('Photo will be displayed before all other entries.')
    ) %>
  <%- end -%>

  <%- cover_photo = @photo.dup ; cover_photo.cover_photo = true -%>
  <%- if can? :create, cover_photo -%>
    <%= form.input(
      :cover_photo,
      label: _('Cover photo'),
      hint: _('Photo will be used on covers, titlebars, etc.')
    ) %>
  <%- end -%>

  <%= form.button :submit %>
<% end %>
