<li>
  <div class="controls">
    <% if can?(:update, item) -%>
      <%= link_to '<span class="fa fa-pencil"></span>'.html_safe, edit_season_closure_path(item), class: 'btn btn-success btn-sm' %>
    <% end %>
    <% if can?(:destroy, item) -%>
      <%= link_to '<span class="fa fa-trash"></span>'.html_safe, season_closure_path(item), class: 'btn btn-success btn-sm', method: :delete, data: { confirm: _('Are you sure?') } %>
    <% end %>
  </div>
  <div class="title">
    <%= item.year %>
    <%- if active_item == item -%>
      <span class="badge badge-success"><%= _('active') %></span>
    <%- end -%>
    <small>
      <%= item.start_day_of_month || '-' %>.<%= item.start_month || '-' %>. to <%= item.end_day_of_month || '-' %>.<%= item.end_month || '-' %>.
    </small>
  </div>
  <div class="description">
    <%= item.description %>
  </div>
</li>
