<%= render partial: 'photos/cover_photo', locals: { photo: route.photos.cover_photos.first } %>

<%- content_for :dropdown do -%>
  <%- dropdown_link_options = {
    class: 'dropdown-item',
    icon_class: ['fw']
  } -%>
  <% if can?(:edit, route) -%>
    <%= icon_link_to 'edit', _('Edit'), edit_route_path(route), **dropdown_link_options %>
    <div class="dropdown-divider"></div>
  <% end -%>
  <% if can?(:create, Comment.new(target: route, user: current_user)) -%>
    <%= icon_link_to Comment, _('Add comment'), new_route_comment_path(route), **dropdown_link_options %>
  <% end -%>
  <%= icon_link_to(
    Ascent,
    _('Add ascent').html_safe,
    new_route_ascent_path(route),
    **dropdown_link_options
  ) if Routenbuch.features.ascents? && can?(:create, Ascent.new(user: current_user, route: route)) %>
  <%= icon_link_to(
    Ticklist,
    _('Add ticklist').html_safe,
    new_route_ticklist_path(route),
    **dropdown_link_options
  ) if Routenbuch.features.ticklists? && can?(:create, Ticklist.new(user: current_user, route: route))%>
  <% if can?(:create, Photo.new(target: route, user: current_user)) -%>
    <%= icon_link_to Photo, _('Add photo').html_safe, new_route_photo_path(route), **dropdown_link_options %>
  <% end -%>
<% end -%>

<%- content_for :breadcrumb do -%>
  <%= render partial: 'geo_refs/parent_breadcrumb_nav', :locals => { :geo_ref => route.geo_ref, :include_self => true } %>
<%- end -%>

<%- content_for :title do -%>
  <%= route.name %>
  <% if route.user_has_redpoint(current_user) -%>
    <span class="fa fa-circle redpoint"></span>
  <% end -%>
  <%= render partial: 'grades/grade_badge', :locals => { :grade => route.grade } if route.grade.present? %>
<%- end -%>

<%- content_for :icon, route.icon -%>
