<%- content_for :tab_nav do -%>
  <%= render_navigation do |primary|
    primary.item :search, _('Search'), routes_path
    primary.item :browse, _('Browse'), browse_geo_refs_path, highlights_on: %r(/routes/\d+$)
    primary.dom_class = 'nav nav-tabs mb-3'
  end -%>
<%- end -%>
