<%= render_navigation do |primary|
  primary.item(
    :info,
    {
      icon: 'info',
      text: _('Info'),
    },
    route_path(route)
  )
  primary.item(
    :ascents,
    {
      icon: Ascent.icon,
      text: "#{_('Ascents')} <span class=\"badge badge-secondary\">#{route.ascents.count}</span>".html_safe,
    },
    route_ascents_path(route)
  ) if Routenbuch.features.ascents?
  primary.item(
    :ticklists,
    {
      text: "#{_('Ticklist')} <span class=\"badge badge-secondary\">#{route.ticklists.count}</span>".html_safe,
      icon: Ticklist.icon,
    },
    route_ticklists_path(route)
  ) if Routenbuch.features.ticklists?
  primary.item(
    :comments,
    {
      text: "#{_('Comments')} <span class=\"badge badge-secondary\">#{route.comments.count}</span>".html_safe,
      icon: Comment.icon,
    },
    route_comments_path(route)
  )
  primary.item(
    :photos,
    {
      text: "#{_('Photos')} <span class=\"badge badge-secondary\">#{route.photos.count}</span>".html_safe,
      icon: Photo.icon,
    },
    route_photos_path(route)
  )
  primary.dom_class = 'nav nav-tabs mb-3'
end %>
