<%- content_for :buttons do -%>
  <% if can?(:create, Route) -%>
    <%= link_to(
      "<span class=\"fa fa-plus\"></span> #{_('New Route')}".html_safe,
      new_route_path,
      class: 'btn btn-success'
    ) %>
  <% end -%>
<% end -%>

<%- content_for :title, _('Routes') -%>

<%= render partial: 'routes/primary_tab_nav' %>

<%= search_form_for @q do |f| %>
  <div class="form-group">
    <%= f.label _('Search') %>
    <div class="input-group">
      <%= f.search_field :search_full_text, :class => 'form-control', :placeholder => _('Search terms...') %>
      <div class="input-group-append">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<ul class="content-list">
  <% @routes.each do |route| %>
    <%= render partial: 'routes/content-list/default', :locals => { :item => route } %>
  <% end %>
</ul>

<%= paginate @routes %>
