<%= render partial: 'routes/head', locals: { route: @route } %>
<%= render partial: 'routes/secondary_tab_nav', locals: { route: @route } %>

<%- if @route.alternative_names.any? -%>
  <%= _('Other names') %>: <%= @route.alternative_names.join(', ') %>
<%- end -%>

<p><em><%= @route.description %></em></p>

<%= render partial: 'taggables/tags_by_category', :locals => { :tags => @route.tags } %>

<% if @route.pitches.present? %>
  <p>
    <strong><%= _('Pitches') %>:</strong>
    <%= @route.pitches %>
  </p>
<% end %>

<% if @route.first_ascent_person.present? %>
  <p>
    <strong><%= _('First ascent') %>:</strong>
    <%= link_to @route.first_ascent_person.name, @route.first_ascent_person %>
  </p>
<% end %>

<% if @route.first_ascent_year.present? %>
  <p>
    <strong><%= _('First ascent') %>:</strong>
    <%= @route.first_ascent_date.reject(&:nil?).join('-') %>
  </p>
<% end %>

<% if @route.body.present? %>
  <hr></hr>

  <%= markdown(@route.body) %>
<% end %>
