<li>
  <div class="title">
    <%= link_to item.description, item %>
    <%- if item.active? -%>
      <i class="fa fa-lock text-danger" aria-hidden="true"></i>
    <%- else -%>
      <i class="fa fa-unlock text-success" aria-hidden="true"></i>
    <%- end -%>
    <small>
      <%= item&.start_at&.strftime('%d.%m.') || '-' %> to <%= item&.end_at&.strftime('%d.%m.') || '-' %>
    </small>
  </div>
    <div class="description">
      <%= item.geo_refs.map { |gr| gr.name }.join(', ') %>
    </div>
</li>
