<%= simple_form_for([:admin, @user]) do |form| -%>
  <%= form.error_notification %>

  <%= form.input(
    :email,
    label: _('E-Mail'),
  ) %>
  <%= form.input(
    :name,
    label: _('Full name'),
  ) %>
  <%= form.input(
    :role,
    label: _('Role'),
    collection: @user.valid_roles,
    include_blank: false,
    hint: _('Rights to assign to user.')
  ) %>

  <%= form.input(
    :password,
    label: _('New password'),
    as: :strong_password,
  ) %>
  <%= form.input :password_confirmation, label: _('Password confirmation') %>

  <%= form.button :submit %>
<% end -%>
