<% content_for :title, _('Editing user') %>
<% content_for :icon, @user.icon %>

<% content_for :buttons do %>
  <% if can?(:admin, @user) -%>
    <%= link_to "<span class=\"fa fa-trash\"></span> #{_('Delete')}".html_safe, @user, method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-danger pull-right' %>
  <% end %>
<% end %>

<%= render 'form' %>
