<% content_for :buttons do %>
  <% if can?(:admin, @user) -%>
    <%= link_to(
      "<span class=\"fa fa-pencil\"></span> #{_('Edit')}".html_safe,
      edit_admin_user_path(@user),
      class: 'btn btn-success'
    ) %>
  <% end -%>
<% end -%>

<% content_for :title, _('User: %{name}') % { name: @user.name } %>
<% content_for :icon, @user.icon %>

<table class="table table-striped">
  <tbody>
    <tr>
      <th><%= _('E-Mail') %></th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th><%= _('Role') %></th>
      <td><%= @user.role %></td>
    </tr>
    <tr>
      <th><%= _('Created at') %></th>
      <td><%= @user.created_at %></td>
    </tr>
  </tbody>
</table>

<h3><%= _('User permissions') %></h3>

<ul class="content-list">
  <% @permissions.each do |permission| %>
    <%= render(
      partial: 'permissions/content-list/default',
      locals: {
        item: permission,
        show_origin: true,
        show_controls: true
      }
    ) %>
  <% end %>
</ul>
