<%= simple_form_for(@closure) do |form| %>
  <%= form.error_notification %>

  <%= form.input :description %>
  <%= form.input(
    :kind,
    label: _('Type'),
    collection: %w[flexible temporary decree],
    hint: 'Type of closure',
    include_blank: false
  )%>

  <%= form.input(
    :regular_start_month, 
    label: _('Regular start month'),
    hint: _('Regular month when closure is active (1..12)')
  ) %>
  <%= form.input(
    :regular_start_day_of_month, 
    label: _('Regular start day of month'),
    hint: _('Regular day of month when closure is active (1..31)')
  ) %>

  <%= form.input(
    :regular_end_month, 
    label: _('Regular end month'),
    hint: _('Regular month when closure is active (1..12)')
  ) %>
  <%= form.input(
    :regular_end_day_of_month, 
    label: _('Regular end day of month'),
    hint: _('Regular day of month when closure is active (1..31)')
  ) %>

  <%= form.button :submit %>
<% end %>
