<% content_for :buttons do %>
  <% if can?(:create, Closure) -%>
    <%= link_to(
      "<span class=\"fa fa-plus\"></span> #{_('New Closure')}".html_safe,
      new_closure_path,
      class: 'btn btn-success pull-right'
    ) %>
  <% end -%>
<% end -%>
<% content_for :title, _('Closures') %>
<% content_for :icon, Closure.icon %>

<%= search_form_for @q do |f| %>
  <div class="form-group">
    <%= f.label _('Description') %>
    <div class="input-group">
      <%= f.search_field :description_cont, class: 'form-control', placeholder: _('Search by description...') %>
      <div class="input-group-append">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<ul class="content-list">
  <% @closures.each do |closure| -%>
    <%= render partial: 'closures/content-list/default', locals: { item: closure } %>
  <% end -%>
</ul>

<%= paginate @closures %>

