<% content_for :buttons do %>
  <% if can?(:update, @closure) -%>
    <%= link_to(
      "<span class=\"fa fa-pencil\"></span> #{_('Edit')}".html_safe,
      edit_closure_path(@closure),
      class: 'btn btn-success'
    ) %>
  <% end -%>
<% end -%>
<% content_for :title, @closure.description %>
<% content_for :icon, @closure.icon %>

<table class="table">
  <tr>
    <th><%= _('Current status') %></th>
    <td>
      <%- if @closure.active? -%>
        <i class="fa fa-lock text-danger" aria-hidden="true"></i> <%= _('closed') %>
      <%- else -%>
        <i class="fa fa-unlock text-success" aria-hidden="true"></i> <%= _('open') %>
      <%- end -%>
    </td>
  </tr>
  <tr>
    <th><%= _('Type') %></th>
    <td><%= @closure.kind %>
  </tr>
  <tr>
    <th><%= _('Regular start') %></th>
    <td><%= @closure.regular_start_day_of_month || '-' %>.<%= @closure.regular_start_month || '-' %>.
  </tr>
  <tr>
    <th><%= _('Regular end') %></th>
    <td><%= @closure.regular_end_day_of_month || '-' %>.<%= @closure.regular_end_month || '-' %>.
  </tr>
  <tr>
    <th><%= _('Effective start') %></th>
    <td><%= @closure.start_at %></td>
  </tr>
  <tr>
    <th><%= _('Effective end') %></th>
    <td><%= @closure.end_at %></td>
  </tr>
</table>

<h3>
  <%= _('Season closures') %>
  <% if can?(:create, SeasonClosure.new(closure: @closure)) -%>
    <%= link_to(
      "<span class=\"fa fa-plus\"></span> #{_('Add')}".html_safe,
      new_closure_season_closure_path(@closure),
      class: 'btn btn-secondary btn-sm'
    ) %>
  <% end %>
</h3>

<ul class="content-list">
  <% @closure.season_closures.each do |sc| -%>
    <%= render(
      partial: 'season_closures/content-list/default',
      locals: {
        item: sc,
        active_item: @closure.current_season_closure
      }
    ) %>
  <% end -%>
</ul>

<h3><%= _('Affected locations') %></h3>

<%- if can? :update, @closure -%>
  <%= simple_form_for(@closure, url: add_geo_ref_closure_path(@closure), method: :post) do |form| %>
    <div class="form-group autocomplete required geo_ref">
      <label class="control-label autocomplete required" for="geo_ref">
        <abbr title="required">*</abbr> <%= _('Location') %>
      </label>
      <autocomplete-input
        name="geo_ref_id"
        mode="id"
        :initial-id="0"
        initial-value=""
        :min-length="3"
        :allow-freetext="false"
        url="/geo_refs/autocomplete"
        search-param="term"></autocomplete-input>
    </div>
    <%= form.button :submit, _('Add'), class: 'btn btn-secondary' %>
  <% end %>
<%- end -%>

<ul class="content-list">
  <% @closure.geo_refs.accessible_by(current_ability, :read).each do |geo_ref| -%>
    <%- if can?(:update, @closure) && can?(:update, geo_ref) -%>
      <%- geo_ref_controls = capture do -%>
        <%= link_to '<span class="fa fa-trash"></span>'.html_safe, remove_geo_ref_closure_path(@closure, geo_ref_id: geo_ref.id), class: 'btn btn-success btn-sm', method: :post %>
      <%- end -%>
    <%- end -%>
    <%= render(
      partial: 'geo_refs/content-list/default',
      locals: {
        item: geo_ref,
        controls: geo_ref_controls
      }
    ) %>
  <% end -%>
</ul>

