<%= search_form_for [@base_object, @q] do |f| %>
  <div class="form-group">
    <%= f.label _('Location') %>
    <%= f.search_field :route_geo_ref_name_cont, class: 'form-control', placeholder: _('Search for route at a location...') %>

    <%= f.label _('Route') %>
    <div class="input-group">
      <%= f.search_field :route_name_cont, class: 'form-control', placeholder: _('Search for route...') %>
      <div class="input-group-append">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
