
<%= simple_form_for [@closure, @season_closure] do |form| %>
  <%= form.error_notification %>

  <%= form.input :description %>

  <%= form.input(
    :year, 
    label: _('Year'),
    hint: _('Year this season closure applies to')
  ) %>
  <%= form.input(
    :start_month, 
    label: _('Start month'),
    hint: _('Month when closure is active (1..12)')
  ) %>
  <%= form.input(
    :start_day_of_month, 
    label: _('Start day of month'),
    hint: _('Day of month when closure is active (1..31)')
  ) %>

  <%= form.input(
    :end_month, 
    label: _('End month'),
    hint: _('Month when closure is active (1..12)')
  ) %>
  <%= form.input(
    :end_day_of_month, 
    label: _('End day of month'),
    hint: _('Day of month when closure is active (1..31)')
  ) %>

  <%= form.button :submit %>
<% end %>

